<div class="col-2 veticalNav">
    <div class="bloc-logo">
        <div class="bloc-logo-img">
            <img src="../../../assets/icon/bulles.png" alt="bulles" height="50">
        </div>
        <div class="bloc-logo-text">
            <p>PlayEvent</p>
        </div>
    </div>
    <div class="bloc-link-navigation">
        <ul class="list-link-verticalMenu">
            <li class="link-verticalMenu"><a href=""><img src="../../../assets/icon/table.png" class="link-img-verticalMenu" alt="table" height="30">Tableau de bord</a></li>
            <li class="link-verticalMenu"><a href=""><img src="../../../assets/icon/musicalNote.png" class="link-img-verticalMenu" alt="musicNote" height="30"> Playlists</a></li>
            <li class="link-verticalMenu"><a href=""><img src="../../../assets/icon/group.png" class="link-img-verticalMenu" alt="group" height="30">Événement</a></li>
        </ul>
    </div>
    <div class="bloc-link-setting">
        <div class="bloc-info">
            <div class="bloc-img-user">
                <img src="../../../assets/icon/utilisateur.png" height="50" alt="">
            </div>
            <div class="bloc-info-user">
                <div>
                    <p>Nom Prenom</p>
                </div>
                <div>
                    <p>Email</p>
                </div>
            </div>
        </div>
        <div>
            <ul class="list-link-verticalMenu">
                <li class="link-verticalMenu"><a href=""><img src="../../../assets/icon/setting.png" class="link-img-verticalMenu" alt="setting" height="30">Paramètre</a></li>
                <li class="link-verticalMenu"><a href=""><img src="../../../assets/icon/arrow.png" class="link-img-verticalMenu" alt="logout" height="30"> Se déconnecter</a></li>
            </ul>
        </div>
    </div>
</div>