<div class="container-fluid formPlaylist-page page">
    <div class="col-2">
        <app-vertical-nav></app-vertical-nav>
    </div>
    <div class="col-10 page-content">
        <div class="title-bloc">
            <p>Ajouter un compte</p>
        </div>
        <div class="col-7">
            <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
                <div class="form-group row bloc-inputUser">
                    <label for="email" class="col-sm-3 col-form-label">E-mail</label>
                    <div class="col-sm-7">
                        <input type="mail" class="form-control inputUser" id="email" [(ngModel)]="utilisateur.mail" name="mail" required #mail="ngModel">
                    </div>
                    <div *ngIf="mailExist" class="alert alert-danger" role="alert">
                        Cette email existe deja 
                    </div>
                </div>
                <div class="form-group row bloc-inputUser">
                    <label for="Prenom" class="col-sm-3 col-form-label">Prénom</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control inputUser" id="Prenom" [(ngModel)]="utilisateur.prenom" placeholder="Ajouter votre prenom" name="prenom" required #prenom="ngModel">
                    </div>
                </div>
                <div class="form-group row bloc-inputUser">
                    <label for="Nom" class="col-sm-3 col-form-label">Nom</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control inputUser" id="Nom" [(ngModel)]="utilisateur.nom"  placeholder="Ajouter votre nom" name="nom" required #nom="ngModel">
                    </div>
                </div>
                <div class="form-group row bloc-inputUser">
                    <label for="mdp" class="col-sm-3 col-form-label">Mot de passe</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control inputUser" id="mdp" [(ngModel)]="utilisateur.pwd" name="pwd" required #pwd="ngModel">
                    </div>
                </div>
                <div class="form-group row bloc-inputUser">
                    <label for="inputRole" class="col-sm-3 col-form-label">Role</label>
                    <div class="col-sm-7">
                        <select id="inputRole" class="inputUser form-control" [(ngModel)]="utilisateur.role" name="role" required #role="ngModel">
                            <option [ngValue]="undefined" [disabled]="true">Choisir...</option>
                            <option value="ANIMATEUR">Animateur</option>
                            <option value="ADMIN">Administrateur</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-warning btn btn-block">Ajouter un compte</button>
            </form>
        </div>
    </div>
</div>