/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "~bootstrap/dist/css/bootstrap.min.css";

.page{
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction:row;
}

.page-content{
    padding: 3%;
}

.title {
    font-weight: bold;
    font-size: 45px;
    display: flex;
    margin-bottom: 5%;
    flex-direction: row;
    justify-content: space-between;
}


.bloc-formPlaylist{
    display: flex;
    flex-direction: row;
}

.formPlaylist{
    padding: 2%;
    margin-right: 5%;
    background-color: #E4E6EA;
    border-radius: 15px;
    box-shadow: 1px 1px 12px 
    #555;
}

.title-bloc{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10%;
}

.bloc-input{
    margin-bottom: 7%;
}
label{
    font-weight: 700;
    font-size: 18px;
}

.list-search{
    background-color: white;
    list-style: none;
    padding: 0;
}

.linkSearch{
    font-style: normal !important;
    text-decoration: none !important;
    font-size: 15px !important;
    color: black !important;
}

.list-index{
    border-bottom: 1px solid rgba(146, 146, 146, 0.507);
}

.img-song{
    border-radius: 100px;
}

.bloc-img-song{
    margin-right: 5%;
}
.songItem, .songInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.blocListSong{
    overflow: auto;
    height: 250px;
}

.songItem{
    justify-content: space-between;
    margin-bottom: 4%;
}

.title {
    font-weight: bold;
    font-size: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bplaylist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.playlist{
    margin: 4%;
}

.notPlaylistTilte{
    font-weight: bold;
    font-size: 30px;
}

.blocNotPlaylistTilte{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-playlist {
    background-color: #d1d1d1;
    padding: 5%;
    border-radius: 5px;
    margin-right: 4%;
}

.title-playlist {
    font-size: 20px;
    font-weight: bold;
}

.bloc-title-playlist {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-playlist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bloc-playlist {
    box-shadow: 1px 1px 12px #555;
    padding: 16px;
}

.bloc-description{
    margin-top: 8%;
    height: 3vw;
    margin-bottom: 10%;
}
.bloc-formEvent {
    display: flex;
    flex-direction: row;
    justify-content: space-;
    background-color: #E4E6EA;
    box-shadow: 1px 1px 12px #555;
}

.title-bloc {
    margin-bottom: 15px;
}

.formEvent {
    padding: 2%;
    border-radius: 15px;
}

.form-group {
    margin-bottom: 2%;
}

.btnSumit {
    margin-top: 2%;
    color: black;
    font-weight: bold;
}

label {
    margin-bottom: 10px;
}

.inviteForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.list-invite {
    list-style-type: none;
    overflow: auto;
    height: 15vw;
}

.invite {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2%;
}

.invite-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 23px;
    color: black;
}

.initial{
    background-color: black;
    color: white;
    padding: 1%;
    margin-right: 2%;
    border-radius: 100px;
    width: 10%;
    padding: 9px;
    text-align: center;
}