<div class="container-fluid">
    <div class="row login-page">
        <div class="col-6 bloc-login-image">
            <div>
                <img src="../../../assets/images/DjBack.png" alt="">
                <div class="login-image-text">
                    <p>PlayEvent : Gestion <br/> d'événements simplifiée</p>
                </div>
            </div>
        </div>
        <div class="col-6 bloc-login-form">
            <div class="col-5">
                <div class="bloc-login-title">
                    <p class="login-title">Se connecter</p>
                </div>
                <div>
                    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
                        <div class="bloc-input-login">
                            <label class="mr-sm-2 label-input-login" for="inlineFormCustomSelect">Email</label>
                            <input type="email" name="email" class="form-control form-control-lg" placeholder="Entrer votre email" [(ngModel)]="utilisateur.mail" #mail="ngModel" >
                        </div>
                        <div class="bloc-input-login">
                            <label class="mr-sm-2 label-input-login" for="inlineFormCustomSelect">Mot de Passe</label>
                            <input type="password" name="password" class="form-control form-control-lg" placeholder="Entrer votre Mot de Passe" [(ngModel)]="utilisateur.pwd" #pwd="ngModel" >
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Se connecter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>